{%  extends 'usermain.html' %}
{% block content %}
<h1><a href="http://127.0.0.1:8000/questions/createQuestions">Create a New Quiz</a></h1>
<h1><a href="http://127.0.0.1:8000/questions/privatequiz">Create a Private Quiz</a></h1>
<h1><a href="http://127.0.0.1:8000/questions/allrooms">Enter a private quiz</a></h1>

<h1>Previous Attempted Quizes</h1><br>

{% for score in form.items %}

	<h2> Your Score : {{ score.1.0 }} </h2>
	<p>Topic : {{score.1.1}}</p>
	<p>Difficulty : {{score.1.2}}</p>
	<p>Submitted : {{score.1.3}}</p>
	<a href="{{score.0}}"> Review</a>
{% endfor %}
{% endblock%}