{%  extends 'usermain.html' %}
{% block content %}
    Time Submited : {{form2.end}} 
    <br>
    Time Taken    : {{form2.duration}} seconds
    <br>
    <h2>Question 1</h2>
    {{ form1.promt1 }}<br>
    {{form1.opt11}}<br>
    {{form1.opt12}}<br>
    {{form1.opt13}}<br>
    {{form1.opt14}}<br>
    <br>
    User Response : {{form2.response1}}<br>
    <br>
    Correct Response : {{form1.correct1}}<br>
    <br>
   
    <h2>Question 2</h2>
    {{ form1.promt2 }}<br>
    {{form1.opt21}}<br>
    {{form1.opt22}}<br>
    {{form1.opt23}}<br>
    {{form1.opt24}}<br>
    <br>
    User Response : {{form2.response2}}<br>
    <br>
    Correct Response : {{form1.correct2}}<br>
    <br>

    <h2>Question 3</h2>
    {{form2.uresponse2}}<br>
    {{ form1.promt3 }}<br>
    {{form1.opt31}}<br>
    {{form1.opt32}}<br>
    {{form1.opt33}}<br>
    {{form1.opt34}}<br>
    <br>
    User Response : {{form2.response3}}<br>
    <br>
    Correct Response : {{form1.correct3}}<br>
    <br>


    <h2>Question 4</h2>
    {{ form1.promt4 }}<br>
    {{form1.opt41}}<br>
    {{form1.opt42}}<br>
    {{form1.opt43}}<br>
    {{form1.opt44}}<br>
    <br>
    User Response : {{form2.response4}}<br>
    <br>
    Correct Response : {{form1.correct4}}<br>
    <br>


    <h2>Question 5</h2>
    {{ form1.promt5 }}<br>
    {{form1.opt51}}<br>
    {{form1.opt52}}<br>
    {{form1.opt53}}<br>
    {{form1.opt54}}<br>
    <br>
    User Response : {{form2.response5}}<br>
    <br>
    Correct Response : {{form1.correct5}}<br>
    <br>


    <h2>Question 6</h2>
    {{ form1.promt6 }}<br>
    {{form1.opt61}}<br>
    {{form1.opt62}}<br>
    {{form1.opt63}}<br>
    {{form1.opt64}}<br>
    <br>
    User Response : {{form2.response6}}<br>
    <br>
    Correct Response : {{form1.correct6}}<br>
    <br>



    <h2>Question 7</h2>
    {{ form1.promt7 }}<br>
    {{form1.opt71}}<br>
    {{form1.opt72}}<br>
    {{form1.opt73}}<br>
    {{form1.opt74}}<br>
    <br>
    User Response : {{form2.response7}}<br>
    <br>
    Correct Response : {{form1.correct7}}<br>
    <br>
   


    <h2>Question 8</h2>
    {{ form1.promt8 }}<br>
    {{form1.opt81}}<br>
    {{form1.opt82}}<br>
    {{form1.opt83}}<br>
    {{form1.opt84}}<br>
    <br>
    User Response : {{form2.response8}}<br>
    <br>
    Correct Response : {{form1.correct8}}<br>
    <br>


    <h2>Question 9</h2>
    {{ form1.promt9 }}<br>
    {{form1.opt91}}<br>
    {{form1.opt92}}<br>
    {{form1.opt93}}<br>
    {{form1.opt94}}<br>
    <br>
    User Response : {{form2.response9}}<br>
    <br>
    Correct Response : {{form1.correct9}}<br>
    <br>


    <h2>Question 10</h2>
    {{ form1.promt10 }}<br>
    {{form1.opt101}}<br>
    {{form1.opt102}}<br>
    {{form1.opt103}}<br>
    {{form1.opt104}}<br>
    <br>
    User Response : {{form2.response10}}<br>
    <br>
    Correct Response : {{form1.correct10}}<br>
    <br>
{%endblock%}